.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    }

  .body > * {
    width: 100%;
    border: 1px solid #000;
    border-bottom-width: 0;
    box-sizing: border-box;
    text-align: center;
  }  

  .body > :last-child {
    border-bottom-width: 1px;
  }


  #Encabezado{
    border-bottom-width: 1px;
    
  }

  
  

  .aside{
    
    background-color: rgb(82, 121, 88);
    color: white;
    overflow: hidden;
    
    padding: 1%;
    border:#ddd;
  }
  
  .aside>.imagen { 
      float:left;
      width: 100%;
      height: 100%;
    

  }

    .aside>p{
    width: 350px;
    border: 1px solid black;
    text-align: justify;
  }


    .aside>h1 {
      border: 3px solid black;
      text-align: justify;
  }


  


  .aside>h1 {
      border: 3px solid black;
      text-align: center;
  }

  
  li{ display: inline;
      text-align: center;}

  ul{
  list-style-type: none;
  
}

  .nav-bar a{color:inherit;
font-size:14px;
}

.nav-bar li{background-color:#fff;
          display: inline;
}

.nav-bar{ 
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  display: block;
  list-style-type: none;
  flex-wrap: wrap;
}

  .nav-bar a:hover {
      color: black;
    
    }
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px; 
    width: 100%;
    background-color:rgb(198, 224, 183) ;
  }
  .footer img {
  height: 30px;
  width: 30px;
  padding: 10px;

  } 

/* galeria*/


*{ margin: 0;
  padding:0;
  
  

}
  .galeria{
    
    
    direction: initial ;
    background-color: rgb(155, 161, 161);
    

  }
  .galeria li a {
    height:30px;
    width:20px;
    float:left;
    border-bottom:2px;
    overflow: hidden;
    }
    .galeria li a img {
      border:0;
      
      }
    .galeria li a:hover {
      height:120px;
      }
  


